body {
  background: #3c91e6;
  font: 16px -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  line-height: 1.5em;
  margin: 0;
  padding: 0; }

header {
  left: 50%;
  opacity: 0;
  position: fixed;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: opacity .25s .25s; }
  .loaded header {
    opacity: 1; }

.pug {
  width: 3em;
  height: 3em; }

h1 {
  color: #fff;
  font-size: 3em;
  line-height: 1em;
  margin: 0 0 .5em; }
